.div1
{
    background-image: url('https://images.freeimages.com/images/previews/ac9/railway-hdr-1361893.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

}

.para1
{
    color: blue;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid red;
    border-top-left-radius: 100px;
}