/* #head1
{
    color: blueviolet;
}
#head2
{
    background-color: aquamarine;
}
.para1
{
    color: chartreuse;
} */


/* h1,p
{
    background-color: chocolate;
} */
/* h1{
    color: blue;
}
p{
    color: chocolate;
} */
#head1
{
    color: aquamarine;
}